/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300');


/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}

body{
  color: rgba(0,0,0,.75);
  font-family: 'Anonymous Pro', monospace;
  background-color: #f1f1f1;
}

hr.custom-hr {
  border-top: 1px solid #e3e3e3;
	border-bottom: 1px dotted #fff;
  margin: auto;
  width: 100%;
}

img{
  margin: 0 auto;
  width: 25%;
  height: 25%;
  float:left;
  padding-right: 4%;
}

.container{
  padding-left:160px;
  padding-right: 5%;
}

/* Sidenav */
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #24292e;
    font-family: 'Anonymous Pro', monospace;
    overflow-x: hidden;
    padding-top: 10px;
    -webkit-box-shadow: 1px 0px 4px 1px rgba(0,0,0,0.18);
    -moz-box-shadow: 1px 0px 4px 1px rgba(0,0,0,0.18);
    box-shadow: 1px 0px 4px 1px rgba(0,0,0,0.18);
}

.sidenav p{
  position: absolute;
  margin-bottom: 10px;
  bottom: 0;
}

.sidenav img{
  width: 24px;
  height: 24px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #404040;
}

/* Social Links */
.sidenav-social{
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding-bottom: 20px;
  padding-left: 14px;
}

.sidenav-social a{
  height: 100%;
}

.sociallink{
  float: left;
  padding-right: 10px;
}

.sociallinkgithub{
    width: 24px; height: 24px;
    background: url('images/social-icons/github.png') no-repeat left top;
}
.sociallinkgithub:hover { background-position: -24px 0px }

.sociallinkstackoverflow{
    width: 24px; height: 24px;
    background: url('images/social-icons/stackoverflow.png') no-repeat left top;
}
.sociallinkstackoverflow:hover { background-position: -24px 0px }

.sociallinkflickr{
    width: 24px; height: 24px;
    background: url('images/social-icons/flickr.png') no-repeat left top;
}
.sociallinkflickr:hover { background-position: -24px 0px }

.sociallinklinkedin{
    width: 24px; height: 24px;
    background: url('images/social-icons/linkedin.png') no-repeat left top;
}
.sociallinklinkedin:hover { background-position: -24px 0px }

/* Content */
.content-home{
  -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .5s; /* Firefox < 16 */
      -ms-animation: fadein .5s; /* Internet Explorer */
       -o-animation: fadein .5s; /* Opera < 12.1 */
          animation: fadein .5s;
          transform: scale(1.5,1.5);
          font-size: 28px; /* Increased text to enable scrolling */
          padding: 0px 10px;
  margin: 0 auto auto;
  background-color: #F1F1F1;
  position: relative;
  top: 5vw;
  font-size: 5vw;
  padding-right: 10%;
}

.content-posts{
  -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .5s; /* Firefox < 16 */
      -ms-animation: fadein .5s; /* Internet Explorer */
       -o-animation: fadein .5s; /* Opera < 12.1 */
          animation: fadein .5s;
          font-size: 28px; /* Increased text to enable scrolling */
          padding: 0px 10px;
  margin: 0 auto auto;
  background-color: #F1F1F1;
  position: relative;
  font-size: 5vw;
  padding-right: 10%;
}

.content-posts img{
    margin: 0 auto;
    width: 100%;
    height: 25%;
    float: none;
    padding-right: 4%;
}

.container-top{
  position: relative;
  margin: 0 auto auto;
  width: 31vw;
}

.container-bottom{
  clear:both;
  position: relative;
  margin: 3% auto auto;
  width:31vw;
  overflow:hidden;
}

.bio{
  margin: 3% auto;
  width: 100%;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  color: #2e2e2e;
  letter-spacing: .01rem;
  line-height: 1.75rem;
}

.line-1{
  height: auto;

  margin: 0% 0 0 0;
  border-right: 1.3px solid rgba(0,0,0,.75);
  padding-top: 3%;
  font-size: 3.05vw;
  white-space: nowrap;
  overflow: hidden;
}

.line-2{
  height: auto;
  position: relative;
  margin: 0 0 0 0;
  font-family: 'Work Sans', sans-serif;
  color: rgba(0,0,0,.50);
  border-right: 1.3px solid rgba(0,0,0,0);
  padding-left: -1%;
  font-size: 1.8vw;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(10%);
}

.card {

}

.card img {
  width: 100%;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #eee;
  padding-right: 0px;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #e3e3e3;
    background-color: #f1f1f1;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    border-bottom: 2px solid #f1f1f1;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #e4e4e4;
    border-bottom: 2px solid #6299ed;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #f1f1f1;
    border-bottom: 2px solid #6299ed;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #e3e3e3;
    border-top: none;
}

/* columns */
#container4 {
  -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .5s; /* Firefox < 16 */
      -ms-animation: fadein .5s; /* Internet Explorer */
       -o-animation: fadein .5s; /* Opera < 12.1 */
          animation: fadein .5s;
          padding: 0px 10px;
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
}

#container3 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:25%;
}
#container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:25%;
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:25%;
  padding: 4px;
}
#col1 {
	float:left;
	width:21%;
	position:relative;
	left:77%;
  padding: 4px;
  padding-top: 15px;
}
#col2 {
	float:left;
	width:21%;
	position:relative;
	left:80%;
	overflow:hidden;
    padding: 4px;
      padding-top: 15px;
}
#col3 {
	float:left;
	width:21%;
	position:relative;
	left:83%;
	overflow:hidden;
    padding: 4px;
      padding-top: 15px;
}
#col4 {
	float:left;
	width:21%;
	position:relative;
	left:86%;
	overflow:hidden;
  padding: 4px;
  padding-top: 15px;
}

#container1 img{
  transition: .5s ease;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}

#container1 img:hover{
  transition: .5s ease;
  opacity:0.7 !important;
  filter:alpha(opacity=70) !important; /* For IE8 and earlier */
}

.card-title{
  width: 100%;
  margin-bottom: 5px;
}

.card-title a:link, a:visited{
  font-size: 1vw;
  color: #24292e;
  margin: 0px;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
}

.card-title a:hover, a:active{
  transition: .5s ease;
  font-size: 1vw;
  color: #326ca7;
  margin: 0px;
  text-decoration: none;
}

/* tree */
ul.tree li {
    list-style-type: none;
    position: relative;
}

ul.tree li ul {
    display: none;
}

ul.tree li.open > ul {
    display: block;
    border-left: 1px solid #7b7b7b;
    padding-left: 0px;
    margin-left: 10px;
}

ul.tree li a {
    font-family: 'Work Sans', sans-serif;
    color: #f1f1f1;
    font-size: .9em;
    text-decoration: none;
}

ul.tree li a:before {
    height: 1em;
    padding:0 2em;
    font-size: .8em;
    display: block;
    position: absolute;
    left: -1.3em;
    top: .65em;
}

ul.tree li > a:not(:last-child):before {
    content: '+';
}

ul.tree li.open > a:not(:last-child):before {
    content: '-';
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Animation */
.anim-typewriter{
  animation: typewriter 1.5s steps(13) .4s 1 normal both,
             blinkTextCursor 500ms steps(44) 0s 4 normal both;
}

.anim-typewriter2{
  animation: typewriter 1.3s steps(16) 2s 1 normal both,
             blinkTextCursor2 500ms steps(44) 2s infinite normal both;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 21.7vw;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0,0,0,.75);}
  to{border-right-color: transparent;}
}

@keyframes blinkTextCursor2{
  from{border-right-color: transparent;}
  to{border-right-color: rgba(0,0,0,.75);}
}
